@charset "UTF-8";


@font-face{
    font-family:"Rubik";
    src:url("fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    src:url("fonts/Rubik-VariableFont_wght.ttf");
}

:root{
    --background-color-0:#69492c;
    --background-color-1:#6c4e35;
    --background-color-2:#573619;
    --background-color-3:#7d4d22;
    --shadow:#261D0B;
    --thick-detais:#A68549;

}
*{
    margin:0px;
    padding:0px;
    font-family: "Rubik";
}



header{
    width: 100vw;
    height: 60px;
    color: white;
    background-color:var(--background-color-0);
    position:sticky;
    top:0;
    z-index: 10;
    
    box-shadow: 0px 2px 3px var(--shadow);
}
.material-symbols-outlined{
    display:left;
    float:left;
    box-sizing: border-box;
    margin:1vh 1vw;
    position:fixed;
    font-size:40px !important;
    padding:1px;
    transition:  all .2s;
    border-radius: 10px;


    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 50,
    'OPSZ' 50
}
.material-symbols-outlined:hover{
    transition-delay: 1s;
    
    color:black;
    background-color: white;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-delay: .2s;
    cursor: pointer;
}
.home{
    position: fixed;
    display:block;
    top:60px;
    left:-130px;

    height: 100vh;
    width: 130px;
    background-color:var(--shadow);
    text-align: center;
    text-decoration:none;
}
.home > ul{
    margin:10px;
    text-decoration: none;
    list-style: none;
}
.home > li{
    text-decoration:none;
    padding:2vh 5px;

}
.home > li:hover{
    background-color: var(--background-color-3);

}













header > span{
    position:absolute;
    top:1vh;
    left:50%;
    transform: translate(-50%);
}

main{   
    background-color: var(--background-color-2);
}
main > section{
    height:50vh;
    position:relative;
    margin:auto;
    
}
main > section:nth-child(even){
    background-color: var(--background-color-0);
    

}


main > section > article{
    position: absolute;
    background-color:var(--background-color-1);
    padding:15px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #6b4e35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;


}









































footer{
    color: var(--thick-detais);
    background-color: var(--shadow);
    text-align: center;
    padding:3px;
    box-shadow: 0px -3px 5px #604a38;
    z-index: 10;
}
footer > p > a{
    font-weight: bold;  
    text-decoration: none;
    color: var(--thick-detais);
}
footer > p > a:hover{
    color:#a47929;
    text-decoration: underline;
}

