@charset "UTF-8";


@font-face{
    font-family:"Rubik";
    src:url("fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    src:url("fonts/Rubik-VariableFont_wght.ttf");
}

:root{
    --background-color-0:#69492c;
    --background-color-1:#6c4e35;
    --background-color-2:#573619;
    --background-color-3:#7d4d22;
    --shadow:#261D0B;
    --thick-detais:#A68549;

}
*{
    margin:0px;
    padding:0px;
    font-family: "Rubik";
}
header{
    width: 100vw;
    height: 60px;
    color: white;
    background-color:var(--background-color-0);
    position:sticky;
    top:0;
    z-index: 10;
    
    box-shadow: 0px 2px 3px var(--shadow);
}
header > nav > #menu-div{
    display:left;
    float:left;
    box-sizing: border-box;
    padding:1vh 1vw;
}
header > nav > #menu-div > img{width: 45px;
}
header > nav > #menu-div > ul{display:none;
}
header > span{
    position:absolute;
    top:1vh;
    left:50%;
    transform: translate(-50%);
}
header > nav > ul{display:none;}

main{   
    background-color: var(--background-color-2);
}
main > section{
    height:50vh;
    position:relative;
    margin:auto;
    
}
main > section:nth-child(even){
    background-color: var(--background-color-0);
    

}


main > section > article{
    position: absolute;
    background-color:var(--background-color-1);
    padding:15px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #6b4e35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;


}









































footer{
    color: var(--thick-detais);
    background-color: var(--shadow);
    text-align: center;
    padding:3px;
    box-shadow: 0px -3px 5px #604a38;
    z-index: 10;
}
footer > p > a{
    font-weight: bold;  
    text-decoration: none;
    color: var(--thick-detais);
}
footer > p > a:hover{
    color:#a47929;
    text-decoration: underline;
}

